# --- Core Bot ---
python-telegram-bot
pymongo
dnspython
flask
google-generativeai
psutil
pytz
edge-tts
Pillow

# --- Music Engine (STRICT VERSIONS) ---
# Ye versions ek dusre ke liye bane hain
pyrogram==2.0.106
py-tgcalls==0.9.0
tgcrypto
yt-dlp
youtube-search-python
ffmpeg-python

