# --- Aapki Wali List ---
python-telegram-bot
pymongo
dnspython
flask
google-generativeai
psutil
pytz
edge-tts
Pillow

# --- Music & VC ke liye (Zaroori) ---
py-tgcalls
pyrogram
tgcrypto
yt-dlp
youtube-search-python
ffmpeg-python

